/*Faiza Berrichi----
exercices mediaqueries-flex--
version:1.1
date 03/03/2021--*/
.container{
    width:100%;
    border: 1px solid blue;
    height:12.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.square1{
    width: 13%;
    height: 3em;
    background-color: rgb(107, 193, 250);
    border: 1px solid blue;
    text-align: center;
 }


/*affichage tablette*/
@media screen and (max-width: 1024px){
    .container{
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      height:14em;

    }
    .square1{
        width: 30%;
        height:5em;
    }
}
/*affichage tel type iphoneX*/
@media screen and (max-width: 896px){
    .container{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        height:16em;
  
      }
      .square1{
        width: 45%;
        height:5em;
    }
}
/*affichage tel */
@media screen and (max-width: 780px){
    .container{
        display: flex;
        flex-direction: column;
        height:auto
      }
}
